.pkmn-card {
    min-width: 50%;
}

img.d-block {
    width: auto;
    height: 95px;
}

img.type {
    width: 30px;
    height: auto;
}

.type-Icons {
    float: right;
}
.type1, .type2 {
    display: inline-block;
}

.pkmn-card-container {
    padding: 5px !important;
}

.pkmn-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.origin-pic {
	height: 260px;
	width: auto;
	object-fit: contain;
}

.main-Info-row {
    margin-bottom: 10px;
}

.clickable_true:hover {
    cursor: pointer;
}